{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto text-center">
          <table class="table" style="width: 100%; border-collapse: collapse; margin: 20px 0;">
            <tr style="border: 1px solid #000;">
              <td style="border: 1px solid #000; padding: 8px;"><strong>Email:</strong></td>
              <td style="border: 1px solid #000; padding: 8px;"><a href="mailto:sales@oppai.hk">sales@oppai.hk</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>

<!--   <section>
    <div class="container-fluid p-0">
      <div id="map" style="height: 400px; width: 50%; margin: 0 auto; margin-bottom: 100px;"></div>
    </div>
  </section>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var map = L.map('map').setView([22.3122, 114.2259], 15); // Coordinates for Kowloon, Hong Kong

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var marker = L.marker([22.3122, 114.2259]).addTo(map)
        .bindPopup('Unit 10-18, Level 22 Tower 1, Millennium City 1, 388 Kwun Tong Rd, Kowloon, Hong Kong')
        .openPopup();
    });
  </script> -->

{{ end }}
